:root {
  --quosh-bg-color: #ecdbef;
  --quosh-primary-color: #3c1b42;
  /* --hightlight-color:#e5beed; */
  --quosh-text-color: #272727;
  /* #3c709c */
}

/*
=============================================================
Custom styles
=============================================================
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
  font-family: "Karla", sans-serif;
  /* background-color: goldenrod; */
  background-color: var(--quosh-bg-color);
  font-size: 1rem;
}

a {
  display: inline-block;
  text-decoration: none;
}

.quosh__modal {
  min-width: 240px;
}

.quosh__modal__heading {
  padding: 16px;
  width: 100%;
}

.quosh__icon {
  height: 13px;
  padding-right: 0.3rem;
}

.quosh__modal__title {
  font-size: 1.2rem;
  font-weight: 700;
  /* color: #365d37; */
  color: var(--quosh-primary-color);
  display: inline-block;
}

.quosh__modal__close {
  cursor: pointer;
}

.quosh__modal__close__button {
  color: rgb(158 135 135);
  width: 20px;
}

.quosh__modal__hr {
  width: 100%;
  height: 1px;
  opacity: 0.5;
  border-top: 1px solid rgb(105 91 91);
  margin: 0px;
}

.container {
  padding: 0 16px;
  width: 100%;
}

/* h2 {
  color: var(--text-color);
  font-weight: 700;
  font-size: 1rem;
} */

/* toggle Permission*/

.quosh__modal__toggle {
  display: flex;
  margin: 1rem 0;
}
.quosh__modal__toggle__button {
  position: relative;
  margin-right: 1rem;
}

#quosh__modal__toggle__checkbox {
  opacity: 0;
  position: absolute;
}

#quosh__modal__toggle__checkbox:checked + .quosh__modal__toggle__label {
  background-color: var(--quosh-primary-color);
}

.quosh__modal__toggle__label {
  background-color: #999999;
  display: flex;
  width: 60px;
  height: 30px;
  border-radius: 20px;
  align-items: center;
  padding: 5px;
  position: relative;
}

.quosh__toggle__ball {
  width: 27px;
  height: 25px;
  border-radius: 20px;
  background-color: #fff;
  position: absolute;
  top: 2px;
  left: 3px;
  transition: transform 0.2s linear;
}

#quosh__modal__toggle__checkbox:checked
  + .quosh__modal__toggle__label
  .quosh__toggle__ball {
  transform: translateX(24px);
}

.quosh__modal__toggle--ON,
.quosh__modal__toggle--OFF {
  text-overflow: ellipsis;
  color: var(--quosh-text-color);
  line-height: 1.8;
  /* font-weight: 700; */
}

/* .para-desc {
  color: rgb(97 78 78);
} */

.quosh__modal__toggle--ON {
  font-weight: 700;
  color: var(--quosh-primary-color);
  display: block;
}

.quosh__modal__toggle--OFF {
  display: none;
}
