
.quosh__popup,
.quosh__keyword::after {
    --scale: 0;
    --tootip-border-color:#2b2b2b;
    --arrow-size: 10px;

    visibility: hidden;
    opacity: 0;

    z-index: 999999;
    position: absolute;
    top: -0.25rem;
    left: 50%;
    transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
    transition: 200ms all;
    transform-origin: bottom center;
}

.quosh__popup {
    --translate-y: calc(-100% - var(--arrow-size));
    color: aliceblue;
    padding: 1rem 2rem;
    width: max-content;
    max-width: 12rem;
    background: #ecdbef;
    border-radius: 0.3rem;
}

.quosh__keyword:hover .quosh__popup,
.quosh__keyword:hover::after {
    --scale: 1;
    visibility: visible;
    opacity: 1;
}

.quosh__keyword::after {
    --translate-y: calc(-1 * var(--arrow-size));

    content: "";
    border: var(--arrow-size) solid transparent;
    border-top-color: var(--tootip-border-color);
    transform-origin: top center;
}

/* Feedback style */

.quosh__feedback {
    text-align: right;
    font-size: 0.8rem;
    cursor: pointer;
}

.quosh__feedback:hover {
    color:lightskyblue;
}

.quosh__meaning {
    margin: 5px 0;
    font-size: 1.7rem;
}

.quosh__pronounce {
    cursor: pointer;
    display: block;
    color: lightskyblue;
    display: inline-block;
}

.quosh__pronounce span {
    font-size: 1rem;
}

.quosh__pronounce:hover .quosh__pronounce-text {
    color: #fff;
    text-decoration-line: underline;
}

.quosh__volume {
    padding-right: 3px;
    font-size: inherit;
    color: #fff;
}