/* fontawesome */
@import "https://kit.fontawesome.com/bd07b7eea7.js";

body {
    background-color: goldenrod;
}

.popup,
.keyword::after {
    --scale: 0;
    --tootip-color:#2b2b2b;
    --arrow-size: 10px;

    visibility: hidden;
    opacity: 0;

    z-index: 999999;
    position: absolute;
    top: -0.25rem;
    left: 50%;
    transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
    transition: 200ms all;
    transform-origin: bottom center;
}

.popup {
    --translate-y: calc(-100% - var(--arrow-size));
    color: aliceblue;
    padding: 1rem 2rem;
    width: max-content;
    max-width: 12rem;
    background: var(--tootip-color);
    border-radius: 0.3rem;
}

.keyword:hover .popup,
.keyword:hover::after {
    --scale: 1;
    visibility: visible;
    opacity: 1;
}

.keyword::after {
    --translate-y: calc(-1 * var(--arrow-size));

    content: "";
    border: var(--arrow-size) solid transparent;
    border-top-color: var(--tootip-color);
    transform-origin: top center;
}

/* Feedback style */

.feedback {
    text-align: right;
    font-size: 0.8rem;
    cursor: pointer;
}

.feedback:hover {
    color:lightskyblue;
}

.meaning {
    margin: 5px 0;
    font-size: 1.7rem;
}

.pronounce {
    cursor: pointer;
    display: block;
    color: lightskyblue;
    display: inline-block;
}

.pronounce span {
    font-size: 1rem;
}

.pronounce:hover .pronounce-text {
    color: #fff;
    text-decoration-line: underline;
}

.volume {
    padding-right: 3px;
    font-size: inherit;
    color: #fff;
}